---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro">
    <h1 class="text-4xl text-center my-8">ScopeDB Documents</h1>
    <p class="text-center">
        Streamline your data management with ScopeDB's comprehensive
        documentation.
    </p>
</Layout>
