---
import "@/styles/global.css";
---

<div class="grid grid-cols-10 gap-x-[32px]">
    <div class="col-span-2">Sidebar</div>
    <div class="markdown-body col-span-6"><slot /></div>
    <div class="col-span-2">TableOfContent</div>
</div>
